/* top-header navigation */
#top-header {
  height: 40px;
  display: grid;
}

#offer {
  text-align: center;
}

#top-ul li {
  padding: 0 32px;
  border-right: 1px solid #E5E5E5;
}
.top-ul-link {
  display: contents !important;
}
