/* top-header navigation */
#top-header {
  height: 40px;
}
#offer {
  text-align: center;
}
#tnav-right {
  right: 13px;
  position: absolute;
}
#top-ul li {
  padding: 0 32px;
  border-right: 1px solid #E5E5E5;
}
/* main navigation */
#main-nav {
  padding: 10px;
  background: #fff;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
#main-nav-home {
  width: 10%;
}
#main-nav-center {
  width: 70%;
}
#main-mav-right {
  width: 20%;
  right: 13px;
  position: absolute;
}

/* bottom navigation (banner) */
#bottom-nav {
  height: 60px;
  border-bottom: 1px solid #E5E5E5;
}
#bottom-nav .container .row {
  display: contents;
}
.center-text {
  text-align: center;
}
.padleft {
  padding-left: 80%;
}

/* Login Part */
.btn-login {
  background-color: black;
  color: white;
}
.btn-nav-login {
  background-color: #fff;
  color: rgba(0,0,0,.5);
  font-size: small;
}
.logcheck {

}
.unregister{
  text-align: center;
  font-size: 13px;
  padding-bottom: 13px;
}
.nav-center {
  padding-left: 34%;
}
.nav-center li {
  padding-left: 10px;
  padding-right: 10px;
}
.logo-center {
  display: block;
  margin-left: 38%;
  /*margin-right: auto;*/
  width: 50%;
}
.modal-title {
  padding-bottom: 10px;
}
