<header id="top-header" class="navbar navbar-expand-lg navbar-light bg-white">

  <ul id="top-ul" class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ความช่วยเหลือ</a>
    </li>
    <!--<li class="nav-item">-->
      <!--<a class="nav-link disabled" href="#">Disabled</a>-->
    <!--</li>-->
  </ul>

  <ul id="tnav-right" class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <button type="button" class="btn btn-nav-login" data-toggle="modal" data-target="#loginModal">
        เข้าร่วม/ล็อคอินเข้าสู่ระบบ
      </button>
    </li>
  </ul>

  <!--<script>-->
      <!--$('#myModal').modal('show');-->
  <!--</script>-->

  <app-template-login></app-template-login>
</header>
