<nav id="bottom-nav" class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">

    <div id="buttons" class="row justify-content-md-center">
      <div class="col-2">
        <a href="#" id="btn-prev">
          <i class="material-icons padleft">
            navigate_before
          </i>
        </a>
      </div>
      <div class="col-8 carousel">
        <div class="center-text">
          <i class="material-icons">
          refresh
          </i>
          ส่งคืนฟรีภายใน 30 วัน
        </div>


      </div>
      <div class="col-2">
        <a href="#" id="btn-next">
          <i class="material-icons">
            navigate_next
          </i>
        </a>
      </div>
    </div>

  </div>
</nav>



