#footer {
  background-color: #191919;
}
.footer-detail {
  padding-top: 15px;
}
#footer-group {
  border-top: 1px solid #333;
  padding-top: 20px;
}
#footer-group * {
  color: #999;
  font-size: small;
}
.nav-itemlink {
  font-size: 14px;
}
