<footer id="footer">
  <div class="container">

    <div class="row footer-detail">
      <div class="col-2">
        <ul class="nav flex-column list-white">
          <li class="nav-item">
            <a class="nav-link active" href="#">ค้นหาร้านค้า</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ร่วมเป็นสามชิก</a>
          </li>

        </ul>
      </div>
      <div class="col-2">
        <ul class="nav flex-column list-white">
          <li class="nav-item">
            <a class="nav-link active" href="#">รับความช่วยเหลือ</a>
          </li>
          <li class="nav-itemlink">
            <a class="nav-link disabled" href="#">สถานะคำสั่งซื้อ</a>
          </li>
          <li class="nav-itemlink">
            <a class="nav-link disabled" href="#">การคืนสินค้า</a>
          </li>
          <li class="nav-itemlink">
            <a class="nav-link disabled" href="#">ตัวเลือกการชำระเงิน</a>
          </li>
          <li class="nav-itemlink">
            <a class="nav-link disabled" href="#">ติดต่อเรา</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="nav flex-column list-white">
          <li class="nav-item">
            <a class="nav-link active" href="#">เกี่ยวกับเรา</a>
          </li>
          <li class="nav-itemlink">
            <a class="nav-link disabled" href="#">ข่าว</a>
          </li>
          <li class="nav-itemlink">
            <a class="nav-link disabled" href="#">ร่วมงานกับเรา</a>
          </li>
        </ul>
      </div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>

    <div id="footer-group">
      <div class="footer-left">
        © 2018 UI Development, Inc. สงวนลิขสิทธิ์
      </div>
      <div class="footer-right">

      </div>

      <ul class="nav flex-row footer-right">
        <li class="nav-item">คำแนะนำ</li>
        <li class="nav-item">ข้อกำหนดการใช้งาน</li>
        <li class="nav-item">เงื่อนไขการขาย</li>
        <li class="nav-item">นโยบายความเป็นส่วนตัว</li>
      </ul>
    </div>


  </div>
</footer>
