<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card border-0">
        <div class="card-body text-center">
          <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
          <h4 class="text-uppercase mb-5">email</h4>
          <p>web.official@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body text-left">
          <h4 class="text-uppercase mb-8">Nike Run</h4>
          <p class="f-italic">รองเท้าวิ่ง</p>
          <p class="text-uppercase f-bold">8,999 thb</p>
        </div>
      </div>
    </div>
  </div>
</div>
