<div class="row">

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/i2efsksa9chjygp6c7d7/%E0%B8%A3%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2%E0%B8%9C%E0%B8%B9%E0%B9%89-air-presto-essential-NwTz99ZA.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Air Jordan 1 Retro High OG</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 699$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto/rvf4fb6hchtepayyxhxu/%E0%B8%A3%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2%E0%B8%9C%E0%B8%B9%E0%B9%89-air-max-deluxe-vBfvp9.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike Air Force 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Trail Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 450$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://images.nike.com/is/image/DotCom/PDP_HERO/AJ7831_001_A_PREM/E0B8A3E0B8ADE0B887E0B980E0B897E0B989E0B8B2E0B89CE0B8B9E0B989-air-max-deluxe.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike Air Max Deluxe</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 389$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto/suvq2trqhdoxmhh09viw/%E0%B8%A3%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2%E0%B8%9C%E0%B8%B9%E0%B9%89-air-max-97-ultra-17-MkTmpwxD.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike Zoom Pegasus Turbo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Trail Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 1099$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto/ecoywbiv57g29gxaalzu/%E0%B8%A3%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2%E0%B8%9C%E0%B8%B9%E0%B9%89-exp-x14-qs-r1pBWQ.jpg " alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike EXP-X14 QS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 599$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://images.nike.com/is/image/DotCom/PDP_HERO/AJ7292_001_A_PREM/E0B8A3E0B8ADE0B887E0B980E0B897E0B989E0B8B2E0B89CE0B8B9E0B989-air-vapormax-95.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike Epic React Flyknit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 749$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://images.nike.com/is/image/DotCom/PDP_HERO/AO2605_600_A_PREM/E0B8A3E0B8ADE0B887E0B980E0B897E0B989E0B8B2E0B89AE0B8B2E0B8AAE0B980E0B881E0B987E0B895E0B89AE0B8ADE0B8A5-zoom-kd11-ep.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike EXP-X14</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Trail Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 1099$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto/go9ejlsilpz2hq0eophu/%E0%B8%A3%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2%E0%B8%9C%E0%B8%B9%E0%B9%89-air-max-plus-Z0D37G.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike Air Max Plus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 599$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3 item-main">
    <img mat-card-image src="https://images.nike.com/is/image/DotCom/PDP_HERO/AQ0926_001_A_PREM/E0B8A3E0B8ADE0B887E0B980E0B897E0B989E0B8B2E0B89CE0B8B9E0B989-air-max-90-print.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header class="item-header">
      <mat-card-title class="item-title">Nike Air Max 90 Print</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="item-subtitle">Running Shoes</mat-card-subtitle>
      <mat-card-subtitle class="item-subtitle">Price : 749$ </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

</div>
