<!--The content below is only a placeholder and can be replaced.-->
<app-template-header></app-template-header>


<section id="container-main" class="container">
  <div class="row">
    <mat-card id="sidebar" class="col-md-3">
      <app-template-sidebar></app-template-sidebar>
    </mat-card>
    <mat-card id="container-item" class="col-md-9">
      <!--show content-->
      <div class="row">

      <mat-card class="col-md-3 item-main">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="item-header">
          <mat-card-title class="item-title">Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="item-subtitle">Dog Breed</mat-card-subtitle>
          <mat-card-subtitle class="item-subtitle">Price : 400$ </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 item-main">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="item-header">
          <mat-card-title class="item-title">Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="item-subtitle">Dog Breed</mat-card-subtitle>
          <mat-card-subtitle class="item-subtitle">Price : 400$ </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 item-main">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="item-header">
          <mat-card-title class="item-title">Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="item-subtitle">Dog Breed</mat-card-subtitle>
          <mat-card-subtitle class="item-subtitle">Price : 400$ </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 item-main">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="item-header">
          <mat-card-title class="item-title">Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="item-subtitle">Dog Breed</mat-card-subtitle>
          <mat-card-subtitle class="item-subtitle">Price : 400$ </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 item-main">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="item-header">
          <mat-card-title class="item-title">Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="item-subtitle">Dog Breed</mat-card-subtitle>
          <mat-card-subtitle class="item-subtitle">Price : 400$ </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 item-main">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="item-header">
          <mat-card-title class="item-title">Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="item-subtitle">Dog Breed</mat-card-subtitle>
          <mat-card-subtitle class="item-subtitle">Price : 400$ </mat-card-subtitle>
        </mat-card-content>
      </mat-card>

      </div>
    </mat-card>

  </div>
</section>

<footer></footer>
