 <!--sidebar here-->
 <h1 class="category-h1">บุรุษ</h1>
 <div class="category-item">รองเท้า</div>
 <ul class="navbar-nav mr-auto mt-2 mt-lg-0 sidebar-category list-black">
   <li class="nav-item active">
     <a class="nav-link" routerLink="/">ไลฟ์สไตล์ <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item">
     <a class="nav-link disabled" routerLink="/">วิ่ง</a>
   </li>
   <li class="nav-item">
     <a class="nav-link disabled" routerLink="/">ฟุตบอล</a>
   </li>
 </ul>
 <div class="category-item">Running</div>
 <div class="category-item">Traning</div>
 <div class="category-item">Basketball</div>
 <div class="category-item">Golf</div>
 <div class="category-item">Boots</div>
 <div class="category-item">Hiking</div>

 <h1 class="category-h1">แบ่งตาม</h1>
 <div class="form-check checkbox-font">
   <input class="form-check-input position-static" type="checkbox" value="option1" aria-label="...">
   ราคาน้อยกว่า 1000$
 </div>
 <div class="form-check checkbox-font">
   <input class="form-check-input position-static" type="checkbox"value="option1" aria-label="...">
   ราคามากกว่า 1000$
 </div>
