<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="login-top">
          <img class="logo-center" src="assets/img/logo3.png"/>
        </div>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="loginUser($event)" id="login-form">
        <div class="modal-body">
          <h5 class="modal-title" id="exampleModalLabel">ใส่บัญชีของคุณ</h5>
          <div class="form-group">
            <input placeholder="อีเมล์" type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <input placeholder="รหัสผ่าน" type="password" class="form-control" id="pwd">
          </div>
          <div class="checkbox">
            <label class="" checklabel>
              <input class="logcheck" type="checkbox" value=""> ให้ฉันอยู่ในระบบต่อไป
            </label>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="submit" value="submit" form="login-form" class="btn btn-login btn-block">ล็อคอิน</button>
      </div>

      <ul class="unregister">
        <li class="nav-item">
          <button type="button" class="btn btn-nav-regiser" data-toggle="modal" data-target="#regisModal">
            ไม่ใช่สมาชิกใช่ไหม
          </button>
        </li>
      </ul>

    </div>
  </div>
</div>

<app-template-register></app-template-register>
