<ul id="tnav-right" class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item" *ngIf="!logginStatus">
    <button type="button" class="btn btn-nav-login" (click)="open(login)">
      เข้าร่วม/ล็อคอินเข้าสู่ระบบ
    </button>
  </li>
  <li class="nav-item" *ngIf="logginStatus">
    <button type="button" class="btn btn-nav-login">
      {{emailAccount}}
    </button>
  </li>
  <li class="nav-item" *ngIf="logginStatus">
    <button type="button" class="btn btn-nav-login" (click)="logout()">
      logout
    </button>
  </li>
</ul>


    <ng-template #login let-modal>
      <div class="modal-header">
        <div class="login-top">
          <img class="logo-center" src="assets/img/logo3.png"/>
        </div>


        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="loginUser($event)" id="login-form">
        <div class="modal-body">
          <h5 class="modal-title" id="exampleModalLabel">ใส่บัญชีของคุณ</h5>
          <div class="form-group">
            <span class="input-group-addon"><i class="material-icons">email</i></span>
            <input placeholder="อีเมล์" type="text" class="form-control" id="email">
          </div>
          <div class="form-group">
            <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
            <input placeholder="รหัสผ่าน" type="password" class="form-control" id="pass">
          </div>
          <div class="checkbox">
            <label class="" checklabel>
              <input class="logcheck" type="checkbox" value=""> ให้ฉันอยู่ในระบบต่อไป
            </label>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="submit" value="submit" form="login-form" class="btn btn-login btn-block">ล็อคอิน</button>
      </div>

      <ul class="unregister">
        <li class="nav-item">
          <button type="button" class="btn btn-nav-regiser" (click)="open(register)">
            ไม่ใช่สมาชิกใช่ไหม ?
          </button>
        </li>
      </ul>

    </ng-template>




    <ng-template #register let-modal>
        <div class="modal-header">
          <div class="login-top">
            <img class="logo-center" src="assets/img/logo3.png"/>
          </div>


          <button type="button" class="close" (click)="modal.dismiss('cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (submit)="registerUser($event)" id="register-form">
          <div class="modal-body">
            <h5 class="modal-title" id="regsiterModalLabel">ใส่บัญชีของคุณ</h5>
            <div class="form-group">
              <span class="input-group-addon"><i class="material-icons">email</i></span>
              <input placeholder="อีเมล์" type="text" class="form-control" id="reg-email">
            </div>
            <div class="form-group">
              <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
              <input placeholder="รหัสผ่าน" type="password" class="form-control" id="reg-pwd">
            </div>
            <div class="form-group">
              <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
              <input placeholder="ยืนยันรหัสผ่าน" type="password" class="form-control" id="reg-cfpwd">
            </div>
            <div class="form-group">
              <span class="input-group-addon"><i class="material-icons">person</i></span>
              <input placeholder="ชื่อ-สกุล" type="text" class="form-control" id="reg-name">
            </div>
            <div class="form-group">
              <span class="input-group-addon"><i class="material-icons">phone</i></span>
              <input placeholder="เบอร์โทรศัพท์" type="number" class="form-control" id="reg-tel">
            </div>
            <div class="form-group">
              <span class="input-group-addon"><i class="material-icons">date_range</i></span>
              <input placeholder="วัน/เดือน/ปีเกิด" onfocus="(this.type='date')" type="text" class="form-control" id="reg-bd">
            </div>
            <div class="checkbox">
              <label class="" checklabel>
                <input class="logcheck" type="checkbox" value="" required="required" /> ยอมรับข้อตกลงการใช้งาน
              </label>
              <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">
                  ข้อตกลงการใช้งานของเรา

โปรดอ่านข้อกำหนดการใช้งานเหล่านี้โดยละเอียดก่อนใช้แพลตฟอร์มนี้ การเข้าถึงหรือใช้งานเว็บไซต์นี้ แอปพลิเคชันมือถือ หรือผลิตภัณฑ์หรือบริการของเรา (เรียกรวมว่า "แพลตฟอร์ม") บนคอมพิวเตอร์ โทรศัพท์มือถือ แท็บเล็ต คอนโซล หรืออุปกรณ์อื่น (เรียกรวมว่า "อุปกรณ์") เป็นการแสดงว่า คุณได้อ่าน ทำความเข้าใจ และยินยอมที่จะอยู่ภายใต้ข้อผูกมัดของข้อกำหนดการใช้งาน และกฎหมายอื่นใดที่บังคับใช้ ไม่ว่าคุณจะเป็นสมาชิกที่จดทะเบียนของเรา หรือไม่ก็ตามเราอาจเปลี่ยนแปลงข้อกำหนดการใช้งานเหล่านี้ได้ตลอดเวลาโดยไม่แจ้งให้ทราบ ซึ่งจะมีผลบังคับใช้เมื่อมีการโพสต์ลงบนแพลตฟอร์ม หากคุณมีการใช้งานแพลตฟอร์มอย่างต่อเนื่อง จะถือว่าคุณยอมรับข้อกำหนดการใช้งานที่ปรับปรุงใหม่นั้น หากคุณไม่ ตกลงตามข้อกำหนดการใช้งานเหล่านี้ โปรดอย่าใช้แพลตฟอร์มนี้
ประกาศเกี่ยวกับกิจกรรมทางกาย
แพลตฟอร์มนี้อาจครอบคลุมคุณลักษณะต่าง ๆ ที่ส่งเสริมกิจกรรมทางกาย ควรพิจารณาถึงความเสี่ยงที่เกี่ยวข้อง และปรึกษากับผู้เชี่ยวชาญทางการแพทย์ของคุณก่อนเข้าร่วมในกิจกรรมทางกาย เราจะไม่รับผิดชอบหรือรับผิดต่อการบาดเจ็บหรือค่าเสียหายใดที่คุณอาจได้รับ อันเป็นผลสืบเนื่องมาจากการใช้งาน หรือการขาดความสามารถในการใช้งานคุณลักษณะของแพลตฟอร์ม
ทรัพย์สินทางปัญญา
ทรัพย์สินทางปัญญาทั้งหมดบนแพลตฟอร์ม (ยกเว้นเนื้อหาที่ผู้ใช้สร้างขึ้น) เป็นของเรา หรือผู้ออกใบอนุญาตของเรา ซึ่งครอบคลุมถึงสิ่งต่าง ๆ ที่ได้รับการคุ้มครองโดยลิขสิทธิ์ เครื่องหมายการค้า หรือกฎหมายสิทธิบัตร เครื่องหมายการค้า เครื่องหมายการบริการ และชื่อทางการค้าทั้งหมดเป็นของเรา ได้รับการจดทะเบียนโดยเรา และ/หรือได้รับการอนุญาตจากเรา เนื้อหาทั้งหมดบนแพลตฟอร์ม (ยกเว้นเนื้อหาที่ผู้ใช้สร้างขึ้น) รวมถึงแต่ไม่จำกัดเฉพาะข้อความ ซอฟต์แวร์ สคริปต์ รหัส การออกแบบ กราฟิก ภาพถ่าย เสียง ดนตรี วิดีโอ แอปพลิเคชัน คุณลักษณะการโต้ตอบ และเนื้อหาอื่น ๆ ทั้งหมด ("เนื้อหา") เป็นกลุ่มงานที่อยู่ภายใต้กฎหมายของประเทศสหรัฐอเมริกาและกฎหมายลิขสิทธิ์อื่น ๆ อีกทั้งเป็นทรัพย์สินที่เป็นกรรมสิทธิ์ของเรา โดยเรา ขอสงวนลิขสิทธิ์ทั้งหมด
ข้อจำกัดในการใช้แพลตฟอร์ม
คุณสามารถใช้เนื้อหาได้เฉพาะเพื่อจุดประสงค์ของคุณที่มิใช่ทางการค้า เพื่อเข้าร่วมในแพลตฟอร์ม หรือเพื่อสั่งซื้อหรือซื้อผลิตภัณฑ์ของเรา คุณตกลงที่จะไม่เปลี่ยนแปลงหรือลบประกาศการแสดงความเป็นเจ้าของออกจากสิ่งที่ดาวน์โหลดหรือพิมพ์ออกมาจากแพลตฟอร์ม คุณตกลงที่จะไม่แก้ไข คัดลอก แปล ออกอากาศ ดำเนินการ แสดง แจกจ่าย สร้าง ทำซ้ำ เผยแพร่ซ้ำ ดาวน์โหลด แสดง โพสต์ ส่ง หรือจำหน่ายทรัพย์สินทางปัญญาหรือเนื้อหาใดก็ตามที่ปรากฏอยู่บนแพลตฟอร์ม รวมถึงเนื้อหาที่ผู้ใช้สร้างขึ้น (มีการให้คำจำกัดความที่ด้านล่าง) หากมิได้รับการยินยอมอย่างเป็นลายลักษณ์อักษรเป็นการล่วงหน้าจากเรา เว้นแต่จะเป็นเนื้อหาที่ผู้ใช้สร้างขึ้นที่เป็นของคุณเองซึ่งคุณโพสต์ลงบนแพลตฟอร์มอย่างถูกต้องตามกฎหมาย คุณตกลงที่จะไม่ใช้การทำเหมืองข้อมูล หุ่นยนต์ การแยกข้อมูล หรือวิธีการรวบรวมข้อมูลที่คล้ายคลึงกัน ทั้งนี้ ไม่มีส่วนใดในข้อกำหนดการใช้งานเหล่านี้ที่จะถูกตีความว่าเป็นการให้สิทธิ์ในทรัพย์สินทางปัญญาแก่คุณ
                </textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <button type="submit" value="submit" form="register-form" class="btn btn-login btn-block">สมัครสมาชิก</button>
        </div>

      </ng-template>

<!-- <app-template-register></app-template-register> -->
