/* Login Part */
.btn-login {
  background-color: black;
  color: white;
}
.logo-center {
  display: block;
  margin-left: 54%;
  /*margin-right: auto;*/
  width: 50%;
}
.modal-title {
  padding-bottom: 10px;
}
.unregister{
  text-align: center;
  font-size: 13px;
  padding-left: 0;
  /*padding-bottom: 13px;*/
}
/*.unregister li {*/
  /*display: contents;*/
/*}*/
.btn-nav-regiser {
  background-color: #fff;
  color: rgba(0,0,0,.5);
  font-size: small;
}
#tnav-right {
  right: 13px;
  position: absolute;
}
.btn-nav-login {
  background-color: #fff;
  color: rgba(0,0,0,.5);
  font-size: small;
}
.form-group {
  display: flex;
  border: 1px solid #ced4da;
}
.form-control {
  margin-left: 5px;
  border: none;
}
.input-group-addon {
  padding-top: 5px;
  padding-left: 5px;
}
.checkbox {
  padding-left: 10px;
  font-size: smaller;
}
.logcheck {
  height: 10px;
}
