<!--The content below is only a placeholder and can be replaced.-->
<app-template-header></app-template-header>
<app-template-header-center></app-template-header-center>
<!--<app-template-header-bottom></app-template-header-bottom>-->

<section id="container-main" class="container">
  <div class="row" *ngIf="true">
    <mat-card id="container-item" class="col-md-12">
      <h1 style="color: #666666; font-weight: 400; margin: 0px; padding: 0px;">
        ข้อตกลงการใช้งานของเรา</h1>
      <div style="color: #666666; margin: 0px; padding: 0px;">
        <div style="margin-bottom: 15px; padding: 0px;">
          <br /></div>
        <div style="margin-bottom: 15px; padding: 0px;">
          โปรดอ่านข้อกำหนดการใช้งานเหล่านี้โดยละเอียดก่อนใช้แพลตฟอร์มนี้ การเข้าถึงหรือใช้งานเว็บไซต์นี้ แอปพลิเคชันมือถือ หรือผลิตภัณฑ์หรือบริการของเรา (เรียกรวมว่า "แพลตฟอร์ม") บนคอมพิวเตอร์ โทรศัพท์มือถือ แท็บเล็ต คอนโซล หรืออุปกรณ์อื่น (เรียกรวมว่า "อุปกรณ์") เป็นการแสดงว่า คุณได้อ่าน ทำความเข้าใจ และยินยอมที่จะอยู่ภายใต้ข้อผูกมัดของข้อกำหนดการใช้งาน และกฎหมายอื่นใดที่บังคับใช้ ไม่ว่าคุณจะเป็นสมาชิกที่จดทะเบียนของเรา&nbsp;หรือไม่ก็ตามเราอาจเปลี่ยนแปลงข้อกำหนดการใช้งานเหล่านี้ได้ตลอดเวลาโดยไม่แจ้งให้ทราบ ซึ่งจะมีผลบังคับใช้เมื่อมีการโพสต์ลงบนแพลตฟอร์ม หากคุณมีการใช้งานแพลตฟอร์มอย่างต่อเนื่อง จะถือว่าคุณยอมรับข้อกำหนดการใช้งานที่ปรับปรุงใหม่นั้น หากคุณไม่ ตกลงตามข้อกำหนดการใช้งานเหล่านี้ โปรดอย่าใช้แพลตฟอร์มนี้</div>
        <h3 style="font-size: 1.2em; font-weight: 400; margin: 0px; padding: 0px;">
          ประกาศเกี่ยวกับกิจกรรมทางกาย</h3>
        <div style="margin-bottom: 15px; padding: 0px;">
          แพลตฟอร์มนี้อาจครอบคลุมคุณลักษณะต่าง ๆ ที่ส่งเสริมกิจกรรมทางกาย ควรพิจารณาถึงความเสี่ยงที่เกี่ยวข้อง และปรึกษากับผู้เชี่ยวชาญทางการแพทย์ของคุณก่อนเข้าร่วมในกิจกรรมทางกาย เราจะไม่รับผิดชอบหรือรับผิดต่อการบาดเจ็บหรือค่าเสียหายใดที่คุณอาจได้รับ อันเป็นผลสืบเนื่องมาจากการใช้งาน หรือการขาดความสามารถในการใช้งานคุณลักษณะของแพลตฟอร์ม</div>
        <h3 style="font-size: 1.2em; font-weight: 400; margin: 0px; padding: 0px;">
          ทรัพย์สินทางปัญญา</h3>
        <div style="margin-bottom: 15px; padding: 0px;">
          ทรัพย์สินทางปัญญาทั้งหมดบนแพลตฟอร์ม (ยกเว้นเนื้อหาที่ผู้ใช้สร้างขึ้น) เป็นของเรา&nbsp;หรือผู้ออกใบอนุญาตของเรา ซึ่งครอบคลุมถึงสิ่งต่าง ๆ ที่ได้รับการคุ้มครองโดยลิขสิทธิ์ เครื่องหมายการค้า หรือกฎหมายสิทธิบัตร เครื่องหมายการค้า เครื่องหมายการบริการ และชื่อทางการค้าทั้งหมดเป็นของเรา&nbsp;ได้รับการจดทะเบียนโดยเรา&nbsp;และ/หรือได้รับการอนุญาตจากเรา&nbsp;เนื้อหาทั้งหมดบนแพลตฟอร์ม (ยกเว้นเนื้อหาที่ผู้ใช้สร้างขึ้น) รวมถึงแต่ไม่จำกัดเฉพาะข้อความ ซอฟต์แวร์ สคริปต์ รหัส การออกแบบ กราฟิก ภาพถ่าย เสียง ดนตรี วิดีโอ แอปพลิเคชัน คุณลักษณะการโต้ตอบ และเนื้อหาอื่น ๆ ทั้งหมด ("เนื้อหา") เป็นกลุ่มงานที่อยู่ภายใต้กฎหมายของประเทศสหรัฐอเมริกาและกฎหมายลิขสิทธิ์อื่น ๆ อีกทั้งเป็นทรัพย์สินที่เป็นกรรมสิทธิ์ของเรา&nbsp;โดยเรา&nbsp;ขอสงวนลิขสิทธิ์ทั้งหมด</div>
        <h3 style="font-size: 1.2em; font-weight: 400; margin: 0px; padding: 0px;">
          ข้อจำกัดในการใช้แพลตฟอร์ม</h3>
        <div style="margin-bottom: 15px; padding: 0px;">
          คุณสามารถใช้เนื้อหาได้เฉพาะเพื่อจุดประสงค์ของคุณที่มิใช่ทางการค้า เพื่อเข้าร่วมในแพลตฟอร์ม หรือเพื่อสั่งซื้อหรือซื้อผลิตภัณฑ์ของเรา&nbsp;คุณตกลงที่จะไม่เปลี่ยนแปลงหรือลบประกาศการแสดงความเป็นเจ้าของออกจากสิ่งที่ดาวน์โหลดหรือพิมพ์ออกมาจากแพลตฟอร์ม คุณตกลงที่จะไม่แก้ไข คัดลอก แปล ออกอากาศ ดำเนินการ แสดง แจกจ่าย สร้าง ทำซ้ำ เผยแพร่ซ้ำ ดาวน์โหลด แสดง โพสต์ ส่ง หรือจำหน่ายทรัพย์สินทางปัญญาหรือเนื้อหาใดก็ตามที่ปรากฏอยู่บนแพลตฟอร์ม รวมถึงเนื้อหาที่ผู้ใช้สร้างขึ้น (มีการให้คำจำกัดความที่ด้านล่าง) หากมิได้รับการยินยอมอย่างเป็นลายลักษณ์อักษรเป็นการล่วงหน้าจากเรา&nbsp;เว้นแต่จะเป็นเนื้อหาที่ผู้ใช้สร้างขึ้นที่เป็นของคุณเองซึ่งคุณโพสต์ลงบนแพลตฟอร์มอย่างถูกต้องตามกฎหมาย คุณตกลงที่จะไม่ใช้การทำเหมืองข้อมูล หุ่นยนต์ การแยกข้อมูล หรือวิธีการรวบรวมข้อมูลที่คล้ายคลึงกัน ทั้งนี้ ไม่มีส่วนใดในข้อกำหนดการใช้งานเหล่านี้ที่จะถูกตีความว่าเป็นการให้สิทธิ์ในทรัพย์สินทางปัญญาแก่คุณ</div>
      </div>
    </mat-card>

  </div>
</section>

<app-template-footer></app-template-footer>
