<!--The content below is only a placeholder and can be replaced.-->
<app-template-header></app-template-header>
<app-template-header-center></app-template-header-center>
<!--<app-template-header-bottom></app-template-header-bottom>-->

<section id="container-main" class="container">
  <div class="row" *ngIf="true">
    <mat-card id="container-item" class="col-md-12">
      <h1
        style="color: #666666;  font-weight: 400; margin: 0px; padding: 0px;">
        <span style="font-weight: 700;">นโยบายความเป็นส่วนตัวและนโยบาย COOKIE&nbsp;</span><span
        style="font-weight: 700;">ของ Space Run</span></h1>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">หากคุณอาศัยอยู่ในประเทศดังต่อไปนี้ คุณต้องปฏิบัติตามข้อตกลงเฉพาะสำหรับประเทศต่างๆ บางประการ</span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ทวีปอเมริกา</span><span
        style="font-weight: 700;">:&nbsp;</span><a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#a"><span
        style="font-weight: 700;">ประเทศอาร์เจนตินา</span></a></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
        style="font-weight: 700;">ทวีป</span><span style="font-weight: 700;">เอเชีย</span><span
        style="font-weight: 700;">:<a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#b">&nbsp;</a></span><a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#b"><span
        style="font-weight: 700;">ประเทศเกาหลี</span></a></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
        style="font-weight: 700;">ทวีปยูเรเซีย</span><span style="font-weight: 700;">:&nbsp;</span><span
        style="font-weight: 700;"><a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#c">ประเทศรัสเซีย</a>,&nbsp;<a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#d">ประเทศตุรกี</a></span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">ทวีปตะวันออกกลาง</span><span style="font-weight: 700;">:&nbsp;</span><a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#d"><span
        style="font-weight: 700;">ประเทศบาห์เรน,ประเทศคูเวต, ประเทศเลบานอน, ประเทศโอมาน, ประเทศการ์ตาร์, ประเทศซาอุดิอาระเบีย, ประเทศสหรัฐอาหรับเอมิเรตส์</span></a>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        นโยบายความเป็นส่วนตัวนี้ (“นโยบาย”) อธิบายถึงข้อมูลส่วนบุคคลที่ถูกเก็บ หรือสร้างขึ้น (ประมวลผล)
        เมื่อคุณใช้เว็บไซต์ของ Space Run (“เว็บไซต์”) ตัวอย่างเช่น Space Run.com และ Space Runplus.Space Run.com และแอพพลิเคชั่นบนมือถือของ
        Space Run (“แอพพลิเคชั่น”)
        นโยบายนี้อธิบายถึงประเภทของข้อมูลส่วนบุคคลที่ถูกเก็บเมื่อคุณใช้เว็บไซต์หรือแอพพลิเคชั่นของเรา
        และข้อมูลส่วนบุคคลนั้นถูกใช้, แชร์ และป้องกันอย่างไร
        รวมถึงอธิบายว่าคุณมีทางเลือกใดบ้างเกี่ยวกับข้อมูลส่วนบุคคลของคุณและวิธีการติดต่อเรา&nbsp;<span
        style="font-weight: 700;">หากคุณอาศัยอยู่ในประเทศบาห์เรน,&nbsp;</span><span style="font-weight: 700;">ประเทศคูเวต</span><span
        style="font-weight: 700;">,&nbsp;</span><span style="font-weight: 700;">ประเทศเลบานอน</span><span
        style="font-weight: 700;">,&nbsp;</span><span style="font-weight: 700;">ประเทศโอมาน</span><span
        style="font-weight: 700;">,&nbsp;</span><span style="font-weight: 700;">ประเทศการ์ตาร์</span><span
        style="font-weight: 700;">,&nbsp;</span><span
        style="font-weight: 700;">ประเทศรัสเซีย, ประเทศซาอุดิอาระเบีย</span><span
        style="font-weight: 700;">,&nbsp;</span><span style="font-weight: 700;">ประเทศตุรกี หรือ ประเทศสหรัฐอาหรับเอมิเรตส์&nbsp;<a
        href="https://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.Space Run.unite&amp;country=TH&amp;language=th&amp;requestType=redirect#d">โปรดพิจารณาข้อตกลงเฉพาะของประเทศต่างๆ</a></span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">ใครเป็นผู้รับผิดชอบการประมวลผลข้อมูลส่วนบุคคลของคุณ</span><span
        style="font-weight: 700;">?</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        นิติบุคคลของ Space Run ที่เป็นผู้รับผิดชอบในการประมวลผลข้อมูลส่วนบุคคลของคุณนั้น
        ขึ้นอยู่กับวิธีการใช้เว็บไซต์และแอพพลิเคชั่นของเรา และพื้นที่ที่คุณอาศัยอยู่
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        บริษัทในเครือของ Space Run ที่เกี่ยวข้องและ ไนกี้ อิงค์ จะถูกเรียกว่า “Space Run” หรือ “เรา” โปรดพิจารณา&nbsp;<a
        href="http://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?requestType=redirect&amp;agreementType=localentities&amp;country=TH&amp;language=th&amp;uxId=com.Space Run.unite"
        shape="rect">รายชื่อนิติบุคคลท้องถิ่น</a>&nbsp;ของเราสำหรับชื่อนิติบุคคลของ Space Run
        ผู้รับผิดชอบและข้อมูลในการติดต่อเรา
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">ข้อมูลส่วนบุคคลใดที่เราเก็บและเก็บเมื่อใด</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เราขอข้อมูลส่วนบุคคลบางส่วนของคุณเพื่อจัดหาสินค้าหรือบริการที่คุณขอให้แก่คุณ ตัวอย่างเช่น เมื่อคุณทำการซื้อ,
        ติดต่อศูนย์บริการผู้บริโภคของเรา, ขอรับการติดต่อสื่อสาร, สร้างบัญชี, เข้าร่วมกิจกรรมหรือการแข่งขันของเรา
        หรือใช้เว็บไซต์หรือแอพพลิเคชั่นของเรา ทั้งนี้ ข้อมูลส่วนบุคคลนี้รวมถึง:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;">รายละเอียดสำหรับการติดต่อ รวมถึง ชื่อ, อีเมล, เบอร์โทรศัพท์
            และที่อยู่ในการจัดส่งและเรียกชำระเงิน
          </li>
          <li style="margin: 0px; padding: 0px;">รายละเอียดการเข้าสู่ระบบและบัญชี รวมถึง ชื่อที่ปรากฎบนหน้าจอ, รหัสผ่าน
            และ ID ผู้ใช้งาน
          </li>
          <li style="margin: 0px; padding: 0px;">ข้อมูลส่วนตัว รวมถึง เพศ, ที่อยู่, วันเกิด, ประวัติการซื้อ</li>
          <li style="margin: 0px; padding: 0px;">รายละเอียดการชำระเงิน หรือบัตรเครดิต</li>
          <li style="margin: 0px; padding: 0px;">รูปภาพ, รูปถ่าย และวิดีโอ</li>
          <li style="margin: 0px; padding: 0px;">ข้อมูลเกี่ยวกับลักษณะทางกายของคุณ รวมถึง น้ำหนัก, ส่วนสูง,
            สัดส่วนของร่างกาย (เช่น ระยะการก้าว, ขนาดรองเท้า/เท้า, ขนาดเสื้อชั้นใน)
          </li>
          <li style="margin: 0px; padding: 0px;">
            ข้อมูลการออกกำลังกายซึ่งคุณส่งมอบให้หรือซึ่งถูกสร้างขึ้นผ่านเว็บไซต์หรือแอพพลิเคชั่นของเรา (เวลา, ระยะเวลา,
            ระยะทาง, สถานที่, การนับแคลอรี่, FuelPoints, ความเร็วในการวิ่ง)
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            ความพึงพอใจส่วนตัว รวมถึงรายการสินค้าที่ต้องการ, โฆษณา และ Cookie ที่เลือกไว้
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เราใช้ข้อมูลส่วนบุคคลเพิ่มเติมเพื่อเปิดการใช้งานคุณลักษณะเฉพาะบางอย่างบนเว็บไซต์และแอพพลิเคชั่น หรือบริการของเรา
        ตัวอย่างเช่น เราขอเข้าถึงข้อมูลตำแหน่งทางภูมิศาสตร์ผ่านทางโทรศัพท์ของคุณเพื่อบันทึกเส้นทางการวิ่งของคุณ,
        ข้อมูลรายชื่อผู้ติดต่อเพื่อให้คุณสามารถมีปฏิสัมพันธ์กับเพื่อนได้,
        ข้อมูลปฏิทินของคุณเพื่อจัดตารางเวลาแผนการออกกำลังกายของคุณ
        หรือข้อมูลเครือข่ายสังคมออนไลน์ของคุณเพื่อโพสต์เนื้อหาจากแอพพลิเคชั่นลงบนเครือข่ายสังคมออนไลน์ ทั้งนี้
        ข้อมูลส่วนบุคคลนี้รวมถึง:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;">ข้อมูลการเคลื่อนไหวจากเครื่องวัดความเคลื่อนไหวของคุณ</li>
          <li style="margin: 0px; padding: 0px;">รูปภาพ, รายชื่อผู้ติดต่อ และข้อมูลปฏิทิน</li>
          <li style="margin: 0px; padding: 0px;">ข้อมูลจากระบบเซ็นเซอร์ รวมถึงอัตราการเต้นของหัวใจและตำแหน่งที่ตั้ง
            (GPS)
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            ข้อมูลเครือข่ายสังคมออนไลน์ รวมถึงหลักฐานอ้างอิงและข้อมูลใดๆ จากโพสต์สาธารณะของคุณเกี่ยวกับ Space Run
            หรือการสื่อสารระหว่างคุณกับเรา
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เมื่อคุณใช้เว็บไซต์หรือแอพพลิเคชั่นของเรา ข้อมูลจะถูกเก็บและแชร์ให้ Space Run
        โดยอัตโนมัติด้วยเทคโนโลยีแพลตฟอร์มที่ให้บริการประสบการณ์ ตัวอย่างเช่น
        เว็บบราวเซอร์หรืออุปกรณ์มือถือของคุณอาจแชร์ข้อมูลบางอย่างให้ Space Run เมื่อมีการใช้งานเว็บไซต์หรือแอพพลิเคชั่นของ
        Space Run บนอุปกรณ์นั้นๆ รายละเอียดเพิ่มเติมในเรื่องนี้ได้มีการรวบรวมไว้ในหมวด Cookies and Pixel Tags ด้านล้าง
        ทั้งนี้ ข้อมูลดังกล่าวรวมถึง:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;">ID ของอุปกรณ์, Call State, การเข้าถึงระบบอินเทอร์เน็ต,
            รายละเอียดแหล่งเก็บข้อมูล และข้อมูลเกี่ยวกับแบตเตอรี่
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            Cookies, IP Addresses, Referrer Header, ข้อมูลบ่งบอกเว็บบราวเซอร์และรุ่นของคุณ และ Web Beacons และ Tags<span
            style="font-size: 13.008px; font-weight: 700;">&nbsp;</span></li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">เครื่องมือที่ใช้ในการจัดการกับข้อมูลที่เรารวบรวม</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        ในการใช้แอพพลิเคชั่นของเรา
        เราจะทำการแจ้งคุณเกี่ยวกับการรวบรวมและการใช้ของเราผ่านการอนุญาตพื้นฐานบนร้านค้าแอพพลิเคชั่น,
        ระบบการปฏิบัติงานของโทรศัพท์มือถือ และประสบการณ์ในแอพพลิเคชั่น นอกจากนี้
        เรายังมีแจ้งเตือนเพื่อขอความยินยอมจากคุณเมื่อจำเป็น
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        ในหลายกรณี
        เว็บบราวเซอร์หรือแพล็ตฟอร์มบนอุปกรณ์มือถือของคุณจะจัดหาเครื่องมือเพิ่มเติมเพื่อให้คุณสามารถควบคุมได้ว่าจะให้อุปกรณ์ของคุณรวบรวมหรือแชร์ข้อมูลบางประเภทตอนไหน
        ตัวอย่างเช่น อุปกรณ์มือถือหรือเว็บบราวเซอร์ของคุณอาจเสนอเครื่องมือเพื่อให้คุณสามารถจัดการการใช้งาน Cookie
        หรือการแชร์ตำแหน่งที่ตั้ง<br/>เราสนับสนุนให้คุณทำความคุ้นเคยและใช้เครื่องมือเหล่านี้บนอุปกรณ์ของคุณ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">ทำไมเราถึงใช้ (ประมวลผล) ข้อมูลส่วนบุคคลของคุณและอย่างไร</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เราใช้ข้อมูลส่วนบุคคลซึ่งรวบรวมมาจากคุณเพื่อการดังนี้:
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">เพื่อจัดหาคุณลักษณะเฉพาะของเว็บไซต์ แอพพลิเคชั่นและบริการที่คุณขอ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        เมื่อคุณใช้เว็บไซต์และแอพพลิเคชั่นของเรา เราจะอาศัยข้อมูลของคุณในการจัดการสินค้าและบริการที่คุณเลือกไว้
        ตัวอย่างเช่น หากคุณทำการซื้อสินค้าบน Space Run.com หรือเข้าร่วมกิจกรรมหรือโปรโมชั่น
        เราจะใช้ข้อมูลการติดต่อที่คุณให้ไว้ในการติดต่อกับคุณเพื่อแจ้งเกี่ยวกับการซื้อ กิจกรรม หรือ โปรโมชั่น
        หากคุณติดต่อไปยังศูนย์บริการลูกค้าของเรา<br/>เราจะใช้ข้อมูลของคุณ อาทิ รายละเอียดการจัดส่งหรือการชำระเงิน
        หรือสินค้าที่คุณซื้อเพื่อช่วยเหลือคุณแก้ไขปัญหาหรือคลายข้อสงสัยให้แก่คุณ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        หากคุณใช้แอพพลิเคชั่นของเราเพื่อการติดตามการออกกำลังกายหรือลักษณะทางกายของคุณ
        เราจะรวบรวมข้อมูลนี้และจัดเก็บไว้เพื่อให้คุณสามารถเข้ามาดูได้ในแอพพลิเคชั่น
        ข้อมูลการออกกำลังกายของคุณอาจรวมถึงข้อมูลที่คุณป้อนเองหรือที่ถูกจัดเก็บผ่านอุปกรณ์ของคุณระหว่างกิจกรรมนั้น เช่น
        ข้อมูลตำแหน่งที่ตั้งหรือข้อมูลการเคลื่อนไหว
        เราอาจใช้ข้อมูลกิจกรรมเหล่านี้เพื่อคำนวณข้อมูลเกี่ยวกับกิจกรรมของคุณในอนาคต เช่น ระยะทางการวิ่ง
        หรือการเผาผลาญแคลอรี่ เพื่อให้คุณได้เข้าถึงข้อมูลที่ผ่านการคำนวณนี้ซึ่งเป็นส่วนหนึ่งในการทำงานของแอพพลิเคชั่น
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        ในหลายกรณี ในการใช้คุณลักษณะเฉพาะบางอย่างภายในเว็บไซต์ แอพพลิเคชั่น หรือบริการของเรา
        คุณอาจต้องให้ข้อมูลเพิ่มเติมหรือความยินยอมเพิ่มเติมแก่ Space Run ในการใช้ข้อมูลบางอย่างด้วยวิธีบางประการ ตัวอย่างเช่น
        ในการจะใช้คุณลักษณะเฉพาะในการวัดอัตราการเต้นของหัวใจ
        คุณอาจต้องเชื่อมต่ออุปกรณ์วัดอัตราการเต้นของหัวใจกับประสบการณ์;
        ในการแชร์ข้อมูลลงบนสังคมออนไลน์คุณอาจต้องเปิดเผยบัญชีสังคมออนไลน์ของคุณ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span
          style="font-weight: 700;">เพื่อติดต่อสื่อสารกับคุณเกี่ยวกับข้อมูลสินค้า บริการ กิจกรรม และโปรโมชั่นของเรา</span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        ในการแก้ไขการติดตาม (อีเมลหรือเอสเอ็มเอส) ของคุณ หรือในการเลือกไม่รับการสื่อสารจาก Space Run
        กรุณาแก้ไขความพึงพอใจของคุณที่หัวข้อ “ดูหรือเปลี่ยนโปรไฟล์ของฉัน” บนเว็บไซต์ของเรา
        คุณยังสามารถติดต่อเราเพื่อใช้สิทธิเกี่ยวข้อมูลส่วนบุคคลของคุณผ่านรายละเอียดติดต่อที่หัวข้อ “คำถามและผลตอบรับ”
        หรือส่งอีเมลไปที่&nbsp;<a href="mailto:privacy@Space Run.com">privacy@Space Run.com</a></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        หากคุณเป็นลูกค้าปัจจุบันของ Space Run (ตัวอย่างเช่น หากคุณได้เคยทำการซื้อสินค้ากับเรา)
        เราอาจใช้อีเมลที่คุณให้มาในการส่งโฆษณาเกี่ยวกับสินค้า Space Run หรือบริการที่คล้ายกันให้คุณ
        เว้นแต่คุณเลือกที่จะไม่รับโฆษณาดังกล่าว ในกรณีอื่น ๆ
        เราขอความยินยอมจากคุณในการส่งโฆษณาเกี่ยวกับรายละเอียดของสินค้า บริการ กิจกรรมและโปรโมชั่นของ Space Run
        เราอาจใช้ข้อมูลที่คุณให้แก่เรา และข้อมูลจากสินค้าหรือบริการของ Space Run เช่น การใช้เว็บไซต์และแอพพลิเคชั่นของ Space Run
        ของคุณ, การเข้าชมหรือการซื้อสินค้าในร้าน Space Run ของคุณ, การเข้าร่วมกิจกรรมและการแข่งขันต่างๆ ของคุณ
        (ซึ่งอาจจะผ่านทางบริษัทในเครือ Space Run)
        เพื่อตั้งค่าการติดต่อสื่อสารเกี่ยวกับสินค้าและบริการที่น่าสนใจเฉพาะสำหรับคุณ หากมีกฎหมายบังคับไว้
        เราจะขอความยินยอมจากคุณในการส่งโฆษณาให้แก่คุณ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">เพื่อปฏิบัติการ พัฒนา และรักษาธุรกิจ สินค้า และบริการของเรา</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        เราอาจใช้ข้อมูลที่คุณให้ในการดำเนินธุรกิจของเรา ตัวอย่างเช่น เมื่อคุณทำการซื้อ เราอาจะใช้ข้อมูลนั้นในการทำบัญชี
        ตรวจสอบบัญชี และการดำเนินงานภายในอื่น ๆ อีกตัวอย่างหนึ่งเช่น
        เราอาจใช้ข้อมูลเกี่ยวกับวิธีการใช้สินค้าหรือบริการของคุณเพื่อพัฒนาประสบการณ์การใช้งานของคุณ
        และเพื่อให้เราวิเคราะห์ปัญหาทางเทคนิคหรือบริการและบริหารเว็บไซต์และแอพพลิเคชั่นของเรา
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">เพื่อคุ้มครองสิทธิ ทรัพย์สิน หรือ ความปลอดภัยของเราและผู้อื่น</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        เราอาจใช้ข้อมูลการใช้งานเว็บไซต์และแอพพลิเคชั่นของคุณเพื่อป้องกันหรือตรวจจับการทุจริต, ละเมิด,
        การใช้งานที่ผิดกฎหมายและการฝ่าฝืนข้อตกลงการใช้งานของเรา และเพื่อปฏิบัติตามคำสั่งศาล, รัฐบาล
        หรือตามกฎหมายที่ใช้บังคับอื่นๆ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">เพื่อการค้นคว้าทั่วไป และเพื่อวัตถุประสงค์ในการวิเคราะห์</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        เราใช้ข้อมูลการใช้งานเว็บไซต์
        แอพพลิเคชั่นและบริการของผู้เยี่ยมชมเพื่อให้เข้าจพฤติกรรมและความพึงพอใจของลูกค้าของเรา ตัวอย่างเช่น
        เราอาจใช้ข้อมูลเกี่ยวกับการค้นหาสินค้าของผู้เยี่ยมชม Space Run.com
        เพื่อให้เราทราบว่าจะใช้วิธีใดในการจัดวางสินค้าหรือเสนอสินค้าที่หน้าร้านของเราให้ดีที่สุด<span
        style="font-weight: 700;">&nbsp;</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">การใช้ (ประมวลผล)&nbsp;</span><span style="font-weight: 700;">Workout Info &nbsp;</span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        ดังที่ได้กล่าวไว้ข้างต้น Space Run รวบรวมข้อมูลเกี่ยวกับกิจกรรมการออกกำลังกายหรือลักษณะทางกายภาพของคุณ
        (ซึ่งรวมกันเรียกว่า Workout Info) เพื่อส่งมอบแอพพลิเคชั่นและบริการอื่นของเรา
        ด้วยลักษณะของความเป็นส่วนตัวของข้อมูลเหล่านี้ เราจึงมุ่งมั่นที่จะชี้แจงข้อมูลเกี่ยวกับวิธีการใช้งาน Workout Info
        ให้แก่คุณอย่างชัดเจน เนื่องจากข้อมูลเหล่านี้อาจเป็นข้อมูลที่มีความอ่อนไหวในบางเขตอำนาจศาล
        เราจึงใช้มาตรการที่เหมาะสมในการคุ้มครองและใช้ข้อมูลเหล่านี้ และเราจะขอความยินยอมของคุณเพื่อการใช้ Workout Info
        ในกรณีที่มีกฎหมายบังคับหรือเพื่อให้เป็นไปตามนโยบายภายในของ Space Run เราจะขอความยินยอมของคุณเพื่อการใช้ Workout Info
        คลิกที่นี่&nbsp;<a
        href="http://agreementservice.svs.Space Run.com/th/th_th/rest/agreement?requestType=redirect&amp;agreementType=DataLearnMore&amp;country=TH&amp;language=th&amp;uxId=com.Space Run.unite"
        shape="rect">FAQ on Workout Info</a>&nbsp;เพื่อข้อมูลเพิ่มเติม
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        <span style="font-weight: 700;">เพื่อวัตถุประสงค์อื่นๆ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        เราอาจใช้ข้อมูลส่วนบุคคลของคุณในทางอื่น ๆ และจะแจ้งให้คุณทราบเป็นการเฉพาะหากจะมีการรวบรวมข้อมูล
        รวมถึงจะขอความยินยอมจากคุณเมื่อจำเป็น
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การแชร์ข้อมูลส่วนบุคคลของคุณ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การแชร์ของ&nbsp;</span><span style="font-weight: 700;">Space Run</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        Space Run แชร์ข้อมูลส่วนบุคคลของคุณกับ:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;">บริษัทในเครือของ Space Run
            เพื่อวัตถุประสงค์และภายใต้เงื่อนไขดังที่ได้กล่าวมาข้างต้น
          </li>
          <li style="margin: 0px; padding: 0px;">บุคคลที่สามซึ่งเป็นผู้ให้บริการและทำการประมวลผลข้อมูลส่วนบุคคลในนามของ
            Space Run ตัวอย่างเช่น เพื่อดำเนินการเกี่ยวกับบัตรเครดิตและการชำระเงิน, การจัดส่งสินค้า,
            การจัดการและบริการข้อมูล, ส่งอีเมล,<br/>การค้นคว้าและวิเคราะห์, การจัดการแบรนด์และโปรโมชั่นสินค้า
            รวมไปถึงการบริหารจัดการการบริการและคุณลักษณะเฉพาะบางอย่าง
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            บุคคลที่สามอื่นๆ เท่าที่จำเป็นเพื่อ: (i) ปฏิบัติตามคำสั่งของรัฐบาล, คำสั่งศาล หรือกฎหมายที่ใช้บังคับ; (ii)
            ป้องกันการใช้งานอย่างผิดกฎหมายบนเว็บไซต์และแอพพลิเคชั่นของเรา
            หรือการฝ่าฝืนข้อตกลงการใช้งานเว็บไซต์และแอพพลิเคชั่นและนโยบายของเรา; (iii)
            ปกป้องเราจากข้อเรียกร้องของบุคคลที่สาม; และ (iv) ช่วยเหลือในการป้องกันการทุจริตหรือการสืบสวน (เช่น
            การปลอมแปลง)
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        นอกจากนี้
        เราอาจโอนข้อมูลส่วนบุคคลที่เรามีเกี่ยวกับคุณในกรณีที่เราขายหรือโอนกิจการหรือทรัพย์สินทั้งหมดหรือบางส่วน
        (รวมไปถึงกรณีของการปฏิรูปโครงสร้าง, แยกบริษัท, เลิกบริษัท หรือชำระบัญชี)&nbsp;<span style="font-weight: 700;">หากคุณอาศัยอยู่ในประเทศเกาหลี</span>&nbsp;<span
        style="font-weight: 700;">โปรดพิจารณาข้อตกลงเฉพาะของประเทศต่างๆ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การแชร์ของคุณ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เมื่อคุณใช้คุณลักษณะเฉพาะเกี่ยวกับสังคมบางอย่างบนเว็บไซต์หรือแอพพลิเคชั่นของเรา
        คุณสามารถสร้างโปรไฟล์สาธารณะซึ่งอาจระบุข้อมูลจำพวก ชื่อที่ปรากฎบนหน้าจอ, รูปโปรไฟล์ และที่อยู่
        คุณยังสามารถแชร์เนื้อหาดังกล่าวกับเพื่อนหรือต่อสาธารณะ รวมไปถึงข้อมูลเกี่ยวกับกิจกรรม Space Run ของคุณด้วย
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เราสนับสนุนให้คุณใช้เครื่องมือที่เรามีให้เพื่อจัดการการแชร์ดังกล่าวเพื่อควบคุมข้อมูลที่คุณจะเปิดเผยบนคุณลักษณะเฉพาะเกี่ยวกับสังคมของ
        Space Run
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การคุ้มครองและจัดการข้อมูลส่วนบุคคลของคุณ</span></div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            <span style="font-weight: 700;">การเข้ารหัสและความปลอดภัย</span><span style="font-weight: 700;">:</span>&nbsp;เราใช้มาตรการความปลอดภัยทางเทคนิคและการจัดระเบียบหลากหลายรูปแบบ
            รวมถึงการเข้ารหัสและเครื่องมือรับรองความแท้จริง เพื่อรักษาความปลอดภัยของข้อมูลส่วนบุคคลของคุณ
            ข้อมูลส่วนบุคคลของคุณจะถูกเก็บไว้บนเครือข่ายที่ปลอดภัยและเข้าถึงได้เฉพาะจากกลุ่มคนที่มีสิทธิพิเศษในการเข้าถึงระบบเหล่านี้เท่านั้น
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การโอนข้อมูลระหว่างประเทศ</span><span style="font-weight: 700;">:</span>&nbsp;ข้อมูลส่วนบุคคลของคุณที่เรารวบรวมหรือสร้างขึ้น
        (ประมวลผล) บนพื้นที่เว็บไซต์และแอพพลิเคชั่นของเราจะถูกเก็บรักษาไว้ในประเทศสหรัฐอเมริกา
        ผู้รับโอนข้อมูลบางส่วนซึ่ง Space Run
        ได้แชร์ข้อมูลส่วนบุคคลของคุณด้วยอาจอาศัยอยู่ในประเทศนอกเหนือจากประเทศที่ข้อมูลส่วนบุคคลของคุณถูกรวบรวม
        กฎหมายในประเทศเหล่านั้นอาจไม่สามารถคุ้มครองข้อมูลได้ในระดับเดียวกับกฎหมายของประเทศต้นทางข้อมูล อย่างไรก็ดี
        เมื่อเราโอนข้อมูลส่วนบุคคลของคุณไปยังผู้รับในประเทศอื่นรวมถึงประเทศสหรัฐอเมริกา
        เราจะคุ้มครองข้อมูลส่วนบุคคลของคุณตามนโยบายนี้และกฎหมายที่ใช้บังคับ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        หากคุณอาศัยอยู่ในเขตเศรษฐกิจยุโรป (“EEA”) หรือประเทศสวิตเซอร์แลนด์
        เราใช้มาตรการในการปฏิบัติตามข้อกำหนดของกฎหมายที่ใช้บังคับและจัดให้มีความคุ้มครองที่เหมาะสมในการโอนข้อมูลส่วนบุคคลของคุณไปยังผู้รับโอนภายนอก
        EEA หรือ ประเทศสวิตเซอร์แลนด์&nbsp;<span
        style="font-weight: 700;">หากคุณอาศัยอยู่ในประเทศรัสเซีย</span>&nbsp;<span style="font-weight: 700;">โปรดพิจารณาข้อตกลงเฉพาะของประเทศต่างๆ</span>
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;"><span style="font-weight: 700;">การกักข้อมูลของคุณ</span><span
            style="font-weight: 700;">:&nbsp;</span>เราจะกักข้อมูลส่วนบุคคลของคุณเท่าที่จำเป็นเพื่อบรรลุวัตถุประสงค์ในการรวบรวมข้อมูลดังกล่าว
            เว้นแต่จะมีกฎหมายกำหนดไว้เป็นอย่างอื่น&nbsp;<span
              style="font-weight: 700;">หากคุณอาศัยอยู่ในประเทศเกาหลี</span>&nbsp;<span style="font-weight: 700;">โปรดพิจารณาข้อตกลงเฉพาะของประเทศต่างๆ</span>
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            <span style="font-weight: 700;">สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของคุณ</span><span
            style="font-weight: 700;">:</span>&nbsp;คุณมีสิทธิที่จะขอ: (i) เข้าถึงข้อมูลส่วนบุคคลของคุณ; (ii)
            แก้ไขข้อมูลส่วนบุคคลของคุณให้ถูกต้องหากข้อมูลนั้นไม่ครบถ้วนหรือไม่ถูกต้อง; (iii) ลบข้อมูลส่วนบุคคลของคุณ
            นอกจากนี้
            คุณยังมีสิทธิที่จะคัดค้านการประมวลผลข้อมูลส่วนบุคคลของคุณด้วยเหตุผลที่ถูกต้องตามกฎหมายในสถานการณ์พิเศษ
            เมื่อเราได้รับความยินยอมจากคุณในการประมวลผลข้อมูลส่วนบุคคลของคุณแล้ว คุณสิทธิในการถอนความยินยอมได้ทุกเมื่อ
            คุณยังมีสิทธิคัดค้านการประมวลผลข้อมูลส่วนบุคคลของคุณรวมถึงการเลือกไม่ให้ใช้ข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์ตลาดแบบตรง&nbsp;<span
            style="font-weight: 700;">หากคุณอาศัยอยู่ในประเทศอาร์เจนตินา หรือประเทศเกาหลี</span>&nbsp;<span
            style="font-weight: 700;">โปรดพิจารณาข้อตกลงเฉพาะของประเทศต่างๆ</span>&nbsp;
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">COOKIES และ Pixel Tags</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        Space Run รับและรวบรวมข้อมูลซึ่งอาจรวมถึงข้อมูลส่วนบุคคลจากบราวเซอร์ของคุณเมื่อคุณใช้เว็บไซต์ของเรา
        เราใช้วิธีการหลากหลายในการรวบรวมข้อมูลเหล่านี้ เช่น cookies และ pixel tags ซึ่งข้อมูลดังกล่าวอาจรวมถึง (i) IP
        Address ของคุณ; (ii) เครื่องมือระบุ cookie ที่มีลักษณะเฉพาะ, ข้อมูล cookie
        และข้อมูลว่าอุปกรณ์ของคุณมีซอฟต์แวร์ที่สามารถเข้าถึงคุณลักษณะเฉพาะบางอย่างได้หรือไม่; (iii)
        เครื่องมือระบุอุปกรณ์ที่มีลักษณะเฉพาะและประเภทของอุปกรณ์; (iv) โดเมน, ประเภทของบราวเซอร์ และภาษา; (v)
        ระบบปฏิบัติงานและการตั้งค่าระบบ; (vi) ประเทศและเขตเวลา; (vii) เว็บไซต์ที่เข้าชมก่อนหน้า; (viii)
        ข้อมูลเกี่ยวกับการใช้งานเว็บไซต์ของเรา เช่น การกดคลิก, การซื้อและความพึงพอใจที่ระบุไว้; และ (ix)
        เวลาที่เข้าใช้และ URLs ที่อ้างถึง
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        บุคคลที่สามอาจสามารถรวบรวมข้อมูลจากเว็บไซต์ผ่านทาง cookies, plug-ins ของบุคคลที่สาม และ widgets ได้เช่นกัน
        บุคคลที่สามเหล่านี้รวบรวมข้อมูลจากบราวเซอร์ของคุณโดยตรงและการประมวลผลของข้อมูลเหล่านี้จะเป็นไปตามนโยบายความเป็นส่วนตัวของพวกเขาเอง&nbsp;<span
        style="font-weight: 700;"><br/></span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เราใช้ cookies และ pixel tags
        เพื่อติดตามความเคลื่อนไหวของลูกค้าของเราบนเว็บไซต์และเพื่อให้ทราบถึงความพึงพอใจของลูกค้าของเรา (อาทิ
        ประเทศและภาษาที่เลือก) สิ่งนี้ทำให้เราสามารถให้บริการและพัฒนาให้ลูกค้าได้รับประสบการณ์ออนไลน์ที่ดี เรายังใช้
        cookies และ pixel tags เพื่อให้ได้มาซึ่งข้อมูลรวมเกี่ยวกับความแน่นหนาของผู้ใช้บนเว็บไซต์และการใช้เว็บไซต์
        เพื่อทราบถึงกระแสและสถิติเพื่อใช้ในการพัฒนาเว็บไซต์ของเราต่อไป โดยทั่วไปแล้วมี cookies
        สามประเภทที่ใช้บนเว็บไซต์ของเรา&nbsp;
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;"><span style="font-weight: 700;">การทำงาน:</span>&nbsp;cookies
            ประเภทนี้มีความจำเป็นต่อระบบการทำงานพื้นฐานของเว็บไซต์ ดังนั้นจึงต้องเปิดใช้งานตลอดเวลา และยังรวมถึง cookies
            ที่ทำหน้าที่จดจำคุณในขณะที่คุณเยี่ยมชมเว็บไซต์ของเราภายในหนึ่งครั้งหรือหลายครั้งหากคุณขอ cookies
            เหล่านี้ช่วยให้ระบบตะกร้าสินค้าและเช็คเอาท์สามารถดำเนินไปได้และช่วยในเรื่องปัญหาด้ายความปลอดภัยและการปฏิบัติตามกฎระเบียบ
          </li>
          <li style="margin: 0px; padding: 0px;"><span style="font-weight: 700;">ผลงาน:</span>&nbsp;cookies
            ประเภทนี้ทำให้เราสามารถพัฒนาระบบการทำงานของเว็บไซต์โดยวิธีการติดตามการใช้งาน ในบางกรณี cookies
            เหล่านี้ช่วยพัฒนาความเร็วในการประมวลคำขอของคุณและช่วยให้เราจดจำความพึงพอใจที่คุณเลือกไว้บนเว็บไซต์ การปฏิเสธ
            cookies เหล่านี้อาจส่งผลให้การให้คำแนะนำของเราไม่มีประสิทธิภาพและทำให้เว็บไซต์เราทำงานช้าลง
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            <span style="font-weight: 700;">สังคมออนไลน์และโฆษณา:</span>&nbsp;cookies
            ประเภทสังคมออนไลน์ทำให้สามารถเชื่อมต่อคุณไปยังเครือข่ายสังคมของคุณและการโพสต์เนื้อหาจากเว็บไซต์ของเราลงสังคมออนไลน์อื่น
            ๆ ส่วน cookies ประเภทโฆษณา (ของบุคคลที่สาม) ทำหน้าที่รวบรวมข้อมูลเพื่อให้การโฆษณาตรงตามความสนใจของคุณมากขึ้น
            ทั้งในและนอกเว็บไซต์ของเรา ในบางกรณี cookies เหล่านี้ครอบคลุมถึงการประมวลผลข้อมูลส่วนบุคคลของคุณด้วย
            หากปฏิเสธ cookies นี้อาจส่งผลให้คุณได้รับโฆษณาที่ไม่ตรงตามความสนใจของคุณหรือทำให้คุณไม่สามารถเชื่อมต่อกับ
            Facebook, Twitter หรือสังคมออนไลน์อื่น ๆ ได้อย่างมีประสิทธิภาพ
            และ/หรือไม่สามารถแชร์เนื้อหาลงในสังคมออนไลน์ได้
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-size: 13.008px;">สำหรับข้อมูลที่ครอบคลุมและล่าสุดเกี่ยวกับการที่บุคคลที่สามจะสามารถเข้าถึงเว็บบราวเซอร์ของคุณในทุก ๆ ครั้ง (ผ่านทางเว็บไซต์ของ Space Run หรือทางอื่น) เราขอแนะนำให้คุณติดตั้ง plugin เว็บบราวเซอร์ที่สร้างขึ้นสำหรับวัตถุประสงค์นี้เฉพาะ คุณยังสามารถเลือกให้คอมพิวเตอร์ของคุณเตือนคุณในแต่ละครั้งที่ cookie ถูกส่งหรือเลือกปิดการใช้งาน cookies ทั้งหมด คุณสามารถทำทั้งหมดนี้ได้ผ่านทางหน้าการตั้งค่าบราวเซอร์ของคุณบนทุกบราวเซอร์และอุปกรณ์ที่คุณใช้ บราวเซอร์แต่ละอันจะมีความแตกต่างกันเล็กน้อย ดังนั้นให้คุณดูที่เมนูความช่วยเหลือเกี่ยวกับบราวเซอร์เพื่อเรียนรู้การแก้ไข cookies ของคุณ หากคุณปิดการใช้งาน cookies คุณอาจไม่สามารถเข้าถึงคุณลักษณะเฉพาะหลายอย่างที่ทำให้เว็บไซต์และแอพพลิเคชั่นของเรามีประสิทธิภาพ และบริการบางอย่างของเราก็จะไม่สามารถทำงานอย่างมีประสิทธิภาพเช่นกัน</span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การใช้เว็บไซต์และแอพพลิเคชั่นของ&nbsp;</span><span style="font-weight: 700;">Space Run กับสินค้าและบริการของบุคคลที่สาม</span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เว็บไซต์และแอพพลิเคชั่นของเราทำให้คุณสามารถใช้งานสินค้าดิจิตอลและบริการที่หลากหลาย ตัวอย่างเช่น
        เว็บไซต์และแอพพลิเคชั่นของเราสามารถใช้งานร่วมกับอุปกรณ์ของบุคคลที่สามเพื่อการติดตามกิจกรรม, เครือข่ายสังคม,
        บริการเพลงออนไลน์และบริการดิจิตอลอื่นๆ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        หากคุณเลือกที่จะเชื่อมต่อบัญชี Space Run ของคุณเข้ากับอุปกรณ์หรือบัญชีของบุคคลที่สาม
        สิทธิส่วนบุคคลของคุณบนแพลตฟอร์มของบุคคลที่สามจะต้องเป็นไปตามนโยบายของบุคคลที่สามเหล่านั้น ตัวอย่างเช่น
        หากคุณเลือกจะแชร์กิจกรรม Space Run กับสังคมออนไลน์แพลตฟอร์มของบุคคลที่สาม
        ข้อมูลที่อยู่บนแพลตฟอร์มจะอยู่ภายใต้บังคับของนโบายของแพลตฟอร์ม
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เว็บไซต์และแอพพลิเคชั่นของเราอาจส่งมอบลิงค์ให้กับเว็บไซต์และแอพพลิเคชั่นบุคคลที่สามเพื่อความสะดวกหรือข้อมูลของคุณ
        เว็บไซต์และแอพพลิเคชั่นซึ่งถูกลิงค์จะมีการแจ้งเตือนหรือนโยบายความเป็นส่วนตัวของมันเอง
        ซึ่งเราสนับสนุนให้คุณตรวจสอบเสียก่อน เว็บไซต์หรือแอพพลิเคชั่นซึ่งถูกลิงค์ใดๆ
        ที่เราไม่ได้เป็นเจ้าของและไม่ได้ควบคุมจะไม่อยู่ในความรับผิดชอบของเราสำหรับเนื้อหา,
        การใช้เว็บไซต์หรือแอพพลิเคชั่น, หรือการบังคับใช้ความเป็นส่วนตัวของเว็บไซต์และแอพพลิเคชั่นนั้นๆ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">การเปลี่ยนแปลงนโยบายความเป็นส่วนตัวของเรา</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        กฎหมายที่ใช้บังคับและแนวทางปฏิบัติของเราเปลี่ยนแปลงเป็นครั้งคราว หากเราตัดสินใจที่จะอัพเดทนโยบายของเรา
        เราจะโพสต์การเปลี่ยนแปลงดังกล่าวให้คุณทราบบนเว็บไซต์และแอพพลิเคชั่นของเรา
        หากเราทำการเปลี่ยนแปลงนโยบายเกี่ยวกับการประมวลผลข้อมูลส่วนบุคคลของคุณอย่างมีนัยสำคัญ เราจะแจ้งให้คุณทราบล่วงหน้า
        หรือหากกฎหมายบังคับ เราจะขอความยินยอมจากคุณก่อนที่จะดำเนินการเปลี่ยนแปลง
        เราสนับสนุนให้คุณอ่านนโยบายของเราและคอยติดตามแนวทางปฏิบัติของเรา นโยบายนี้ได้รับการแก้ไขครั้งล่าสุดเมื่อวันที่
        มกราคม 2561 (2018)
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;">คำถามและผลตอบรับ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        เรายินดีรับฟังคำถาม, ความคิดเห็น และข้อกังวลเกี่ยวกับนโยบายและการบังคับใช้ความเป็นส่วนตัวของเรา
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        หากคุณประสงค์จะแจ้งผลตอบรับกับเรา หรือ หากคุณมีคำถามหรือข้อกังวล
        หรือประสงค์จะใช้สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของคุณ
        โปรดติดต่อศูนย์บริการลูกค้าหรือสำนักงานความเป็นส่วนตัวของเราที่:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li style="margin: 0px; padding: 0px;"><span style="font-weight: 700;">ทวีปยุโรป:</span>&nbsp;สำนักงานความเป็นส่วนตัว
            ไนกี้ รีเทล บี.วี., โคลอสเซียม 1, 1213เอ็นแอล, ประเทศเนเธอร์แลนด์
          </li>
          <li style="margin: 0px; padding: 0px;"><span style="font-weight: 700;">ทวีปเอเชีย/แปซิฟิก:</span>&nbsp;สำนักงานความเป็นส่วนตัว,
            30 ปาซีร์ ปันจัง โร้ด, เมเปิลทรี บิสซิเนส ซิตี้ #10-31/32, ประเทศสิงคโปร์ 117440
          </li>
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            <span style="font-weight: 700;">ทวีปอเมริกา:</span>&nbsp;สำนักงานความเป็นส่วนตัว, 1 วัน บาวเวอร์แมน ไดรฟ์,
            บีเวอร์ตัน, โออาร์ 97005, ประเทศสหรัฐอเมริกา
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        นอกจากนี้ คุณสามารถส่งอีเมลหาเราได้ที่&nbsp;<a href="mailto:privacy@Space Run.com">privacy@Space Run.com</a>&nbsp;หรือคลิก<span
        style="text-decoration-line: underline;">ที่นี่</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        หากคุณติดต่อเราเนื่องจากมีข้อร้องเรียนเรื่องความเป็นส่วนตัว
        ข้อร้องเรียนของคุณจะได้รับการประเมินด้วยจุดประสงค์เพื่อแก้ไขปัญหาในเวลาอันรวดเร็วและมีประสิทธิภาพ
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;"><a href="https://www.blogger.com/null" id="d" name="d"
                                           style="color: #333333;"></a>ข้อตกลงเฉพาะ</span><span
        style="font-weight: 700;">สำหรับประเทศต่างๆ</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        หากคุณอาศัยอยู่ใน&nbsp;<span style="font-weight: 700;">ประเทศบาห์เรน</span><span style="font-weight: 700;">, ประเทศคูเวต, ประเทศเลบานอน, ประเทศโอมาน, ประเทศการ์ตาร์, ประเทศรัสเซีย, ประเทศซาอุดิอาระเบีย, ประเทศตุรกี หรือ ประเทศสหรัฐอาหรับเอมิเรตส์</span>&nbsp;ข้อความดังจะกล่าวดังต่อไปนี้ให้ใช้และแทนข้อตกลงใดที่ขัดแย้งกับข้อตกลงในนโยบายความเป็นส่วนตัวนี้
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        “การเข้าสู่เว็บไซต์และ/หรือแอพพลิเคชั่นของเราและส่งมอบข้อมูลส่วนบุคคลของคุณบนเว็บไซต์และแอพพลิเคชั่นนั้น
        คุณได้ให้ความยินยอมแก่เราแล้ว โดยเจตจำนงค์อิสระและตามส่วนได้เสียของคุณ
        เพื่อให้ข้อมูลส่วนบุคคลของคุณดังกล่าวได้ถูกนำไปใช้ ประมวล และโอนต่อไปดังที่กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้”
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        หากคุณอาศัยอยู่ในประเทศใดประเทศหนึ่งด้านล่างนี้ ข้อตกลงเพิ่มเติมสำหรับประเทศนั้น ๆ
        จะถูกนำมาใช้และแทนข้อตกลงใดที่ขัดแย้งกับข้อตกลงในนโยบายความเป็นส่วนตัวนี้
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;"><a href="https://www.blogger.com/null" id="a" name="a"
                                           style="color: #333333;"></a>ประเทศอาร์เจนตินา</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        ข้อย่อยเรื่อง “สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของคุณ” ภายใต้หัวข้อย่อยเรื่อง
        “การคุ้มครองและจัดการข้อมูลส่วนบุคคลของคุณ”
        ได้รับการแก้ไขโดยการเพิ่มข้อความดังจะกล่าวต่อไปนี้ไว้ที่ส่วนท้ายของย่อหน้าแรก:
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        &nbsp;“ผู้ครอบครองข้อมูลส่วนบุคคลมีสิทธิเข้าถึงข้อมูลนั้นอย่างอิสระภายในระยะเวลาไม่น้อยกว่าหกเดือน
        เว้นแต่จะสามารถพิสูจน์การมีส่วนได้เสียตามกฎหมายได้ตามมาตรา 14 ข้อ 3 พระราชบัญญัติ 25.326.
        หน่วยงานคุ้มครองข้อมูลแห่งชาติเป็นผู้มีอำนาจบังคับการตามพระราชบัญญัติ 25.326
        และมีอำนาจดูแลรายงานและข้อเรียกร้องเกี่ยวกับการไม่ปฏิบัติตามเงื่อนไขการคุ้มครองข้อมูล
        เจ้าของข้อมูลส่วนบุคคลมีสิทธิเรียกให้เพิกถอนชื่อของผู้นั้นออกจากฐานข้อมูล”<span
        style="font-weight: 700;">&nbsp;</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;"><a href="https://www.blogger.com/null" id="b" name="b"
                                           style="color: #333333;"></a>ประเทศเกาหลี</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        ข้อย่อยเรื่อง “การแชร์ของ Space Run” ภายใต้ “การแชร์ข้อมูลส่วนบุคคลของคุณ”
        ย่อหน้าต่อไปนี้ให้เพิ่มไว้ในส่วนท้ายของข้อย่อยดังกล่าว:
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        “บริษัทในเครือของเราและบุคคลที่สามผู้ให้บริการผู้ทำหน้าที่ประมวลผลข้อมูลส่วนบุคคลในนามของเราสำหรับเว็บไซต์ของประเทศเกาหลี
        ได้แก่:
      </div>
      <table border="0" cellpadding="0" cellspacing="0"
             style="border-collapse: collapse; border-spacing: 0px; color: #666666;  width: 624px;">
        <tbody>
        <tr>
          <td valign="top">
            <div align="center" style="margin-bottom: 15px; padding: 0px;">
              หน่วยงาน
            </div>
          </td>
          <td valign="top">
            <div align="center" style="margin-bottom: 15px; padding: 0px;">
              บริการ
            </div>
          </td>
          <td valign="top">
            <div align="center" style="margin-bottom: 15px; padding: 0px;">
              ข้อมูล
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ล็อตเต้ ดอท คอม
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              บริการลูกค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ล็อตเต้ ดอท คอม
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              พัฒนาระบบและบำรุงรักษา
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ล็อตเต้ ดอท คอม
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ส่งสินค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              โซล เครดิต เรทติ้ง แอนด์ อินฟอร์เมชั่น อิงค์
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              พิสูจน์ชื่อบุคคลและระบุตัวตน
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ไนกี้ อิงค์
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              บำรุงรักษาเซิร์ฟเวอร์, สำรองฐานข้อมูล และจัดการการเก็บรักษาข้อมูลลูกค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ,ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ㈜อีโมชั่น
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              การตลาด
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ,ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ㈜อีโค มาร์เกตติ้ง
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              การตลาด
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ,ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ฮโยซัง ไอทีเอ็กซ์
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              บริการลูกค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ,ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ล็อตเต้ โลจิสติก
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ส่งสินค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              จีเอฟ
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ส่งสินค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              นีโอซิสเตม
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              พัฒนาระบบและบำรุงรักษา
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลการสั่งซื้อ,ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              แวลิว แฟคตอรี่
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              พัฒนาระบบและบำรุงรักษา
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              เคเอสเน็ท
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              บัตรเครดิต, มัดจำ, การโอนเงินตามเวลาจริง
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ชื่อผู้สั่งซื้อ, อีเมล, บัญชีเงินฝาก, ชื่อผู้ฝากและบัญชี
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              โมบิลเลี่ยนส์
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              การทำธรุกรรมผ่านโทรศํพท์มือถือ
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              IP address
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              โคเรีย กัลลัป
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              กลุ่มออนไลน์และออฟไลน์, การสำรวจ
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ไอแบงก์
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              การยืนยันการป้อนข้อมูลและข้อมูลการรายการที่สั่ง
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              เดอะครีมยูเนี่ยน
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ส่งของขวัญและบริการลูกค้าสำหรับกิจกรรม
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการจัดส่ง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ไนกี้ สโตร์ส์
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              สนับสนุนบริการการจองสินค้า
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการจอง
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              บิซทอล์ค
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ส่งข้อความผ่านทางสังคมออนไลน์ (เช่น Kakao)
            </div>
          </td>
          <td valign="top">
            <div style="margin-bottom: 15px; padding: 0px;">
              ข้อมูลสมาชิก, ข้อมูลการสั่งซื้อ
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-size: 13.008px;">ย่อหน้าต่อไปนี้ให้เพิ่มไว้ในข้อย่อยเรื่อง “การกักข้อมูลของคุณ” ภายใต้หัวข้อย่อยเรื่อง “การคุ้มครองและจัดการข้อมูลส่วนบุคคลของคุณ”:</span>
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px 0px 0px 30px;">
        “กล่าวโดยเฉพาะคือ ให้รวมถึง: (i) บันทึกเกี่ยวกับการเข้าถึงและการใช้เว็บไซต์และแอพพลิเคชั่น - สามเดือน; (ii)
        บันทึกเกี่ยวกับสัญญา, การทำธุรกรรม และการจัดหาสินค้า - ห้าปี; และ (iii) บันทึกเกี่ยวกับข้อร้องเรียนและข้อพิพาท -
        สามปี
        เราจะทำให้แน่ใจว่าบุคคลอื่นใดที่ประมวลผลข้อมูลส่วนบุคคลของคุณในนามของเราจะปฏิบัติตามระยะเวลาการกักข้อมูลเดียวกันนี้”
      </div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        จุดนำย่อหน้าต่อไปนี้ให้เพิ่มไว้หลัง “การกักข้อมูลส่วนบุคคลของคุณ” ภายใต้หัวข้อย่อยเรื่อง
        “การคุ้มครองและจัดการข้อมูลส่วนบุคคลของคุณ”:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            “<span style="font-weight: 700;">การทำลายข้อมูลของคุณ:</span>&nbsp;เราจะทำลายข้อมูลส่วนบุคคลของคุณโดยไม่ชักช้าเมื่อเราไม่มีความจำเป็นต้องกักข้อมูลนั้นไว้อีกต่อไป
            หากข้อมูลถูกพิมพ์ลงบนกระดาษ ข้อมูลนั้นจะถูกฉีกหรือเผา หากข้อมูลถูกเก็บไว้ในรูปแบบอิเล็กทรอนิกส์
            ข้อมูลนั้นจะถูกทำลายอย่างถาวรโดยวิธีการทางเทคนิค”
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        ข้อย่อยเรื่อง “สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของคุณ” ภายใต้หัวข้อย่อยเรื่อง
        “การคุ้มครองและจัดการข้อมูลส่วนบุคคลของคุณ” ให้ลบทิ้งและแทนทั้งหมดด้วยข้อความดังจะกล่าวต่อไปนี้:&nbsp;
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            “<span style="font-weight: 700;">สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของคุณ:</span>&nbsp;คุณมีสิทธิที่จะ (i)
            เข้าถึงข้อมูลส่วนบุคคลของคุณ; (ii)
            แก้ไขข้อมูลส่วนบุคคลของคุณให้ถูกต้องหากข้อมูลนั้นไม่ครบถ้วนหรือไม่ถูกต้อง; หรือ (iii)
            ลบข้อมูลส่วนบุคคลของคุณในเวลาใดก็ได้
            คุณยังมีสิทธิที่จะขอให้พักการประมวลผลข้อมูลส่วนบุคคลของคุณตามกฎหมายที่เกี่ยวข้อง
            เมื่อเราได้รับความยินยอมจากคุณในการประมวลผลข้อมูลส่วนบุคคลของคุณแล้ว คุณมีสิทธิที่จะถอนความยินยอมได้ทุกเมื่อ
            คุณยังมีสิทธิจะคัดค้านการประมวลผลข้อมูลส่วนบุคคลของคุณรวมถึงการเลือกไม่ให้ใช้งานข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์ตลาดแบบตรง”
          </li>
        </ul>
      </ul>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        <span style="font-weight: 700;"><a href="https://www.blogger.com/null" id="c" name="c"
                                           style="color: #333333;"></a>ประเทศรัสเซีย</span></div>
      <div
        style="color: #666666;  margin-bottom: 15px; padding: 0px;">
        ข้อย่อยเรื่อง&nbsp; “การโอนข้อมูลระหว่างประเทศ” ภายใต้หัวข้อย่อยเรื่อง
        “การคุ้มครองและจัดการข้อมูลส่วนบุคคลของคุณ” ให้ลบทิ้งและแทนทั้งหมดด้วยข้อความดังจะกล่าวต่อไปนี้:
      </div>
      <ul
        style="color: #666666;  list-style-image: initial !important; list-style-position: inside !important; margin: 0px; padding: 0px;">
        <ul style="list-style: disc inside !important; margin: 0px; padding: 0px;">
          <li
            style="list-style: disc inside !important; margin-bottom: 15px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px;">
            “<span style="font-weight: 700;">การโอนข้อมูลระหว่างประเทศ:</span>&nbsp;ข้อมูลส่วนบุคคลของคุณที่เรารวบรวมหรือสร้างขึ้น
            (ประมวลผล) บนพื้นที่เว็บไซต์และแอพพลิเคชั่นของเราจะถูกเก็บรักษาไว้ในสหพันธรัฐรัสเซีย
            และสำเนาของข้อมูลนั้นสามารถโอนไปยังประเทศสหรัฐอเมริกาหรือประเทศอื่นๆ ได้”
          </li>
        </ul>
      </ul>

    </mat-card>

  </div>
</section>

<app-template-footer></app-template-footer>
