/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";

* {
  font-family: 'Prompt', sans-serif ;
}

.list-black li a {
  color: #000000;
}

.list-white li a {
  color: #ffffff;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #212529;
}

::selection {
  color: white;
  background: #212529;
}
