/* container main */
#container-main {
  display: contents;
}
#container-item {
  box-shadow: none !important;
}
/*  sidebar */
#sidebar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 3%;
  padding-right: 1%;
}
.category-h2 {
  font-family: 'Prompt', sans-serif ;
}
